
body{
	margin: 0;
	padding: 0;
	font-family: century Gothic
}


header{
	background-image:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url(../img/bg.jpg);
	min-height: 700px;
	background-size: cover;
	background-position: center;
}

ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;



}
ul li a:hover{
	/*background-color: #fff;*/
	color: orange;
}

ul li.active{
	/*background-color: #fff;*/
	color: #000;

}
.logo img{
	float: left;
	width: 130px;
	height: auto;
}

.main{
	max-width: 1000px;
	margin: auto;
}


.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.title h1{
	color: #fff;
	font-size: 40px;

}
.title p{
	position: absolute;
	color: #fff;
	font-size: 70px
	transform: translate(-70%,-70%);
}

.project{
	min-height: 380px;
	background-color:#e9eef0;
	color: #2e2438;
	text-align: center;
}
.project h1{
	margin: 0px;
	padding-top: 20px;
}
.project img{
	text-align: center;
	padding: 15px 25px;

}
.project p{
	font-weight: bold;                   

}

 
 .skill {
 	min-height: 380px;
	background-color: #fff;
	
 }
 .skills{
 	
 }

  .skill h1{
 	margin: 0px;
 	padding-top: 20px;
 	text-align: center;

  }

  .bar1{
	float: left; 
	padding: 0 400px 200px 0;

}

.bar2{
	float: right;
	padding: 0 400px 200px 0;
}



  .one{
  	height: 30px;
  	width: 350px;
  	background-color: #c99d24;

  }
  .one1{
  	height: 30px;
  	width: 130px; 
  	background-color: #9c48bd;
  	text-align: right;	 
  }
  .two{
  	height: 30px;
  	width: 350px;
  	background-color: #c99d24;

  }
  .two2{
  	height: 30px;
  	width: 180px; 
  	background-color: #9c48bd;
  	text-align: right;
  }
  .three{
  	height: 30px;
  	width: 350px;
  	background-color: #c99d24; 
  }
  .three3{
  	height: 30px;
  	width: 220px;
  	background-color: #9c48bd;
  	text-align: right;
  }
  .four{
  	height: 30px;
  	width: 350px;
  	background-color: #c99d24; 
  }
  .four4{
  	height: 30px;
	width: 240px;
	background-color: #9c48bd;
	text-align: right;
}

.about {

	min-height: 300px;
	background-color: #e9eef0;
	color: #2e2438;
	text-align: center;

	
}
.about h1{
	padding-top: 20px;
	margin: 0;

}
.about p{
	width: 800px;	
	padding-left: 400px;
	text-align: center;
	padding-top: 50px;
}
.footer {
	min-height: 400px;
	background-color: #747778;
	color: #2e2438;
	text-align: center;
}
.footer h2{
	padding-top: 20px;
	margin: 0;
}
.icon{
	 margin-left: 100px;
	 padding
}
.cite{
	margin: 1200px;
	margin: 0 auto;
}
	

.footer{
	
}